* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: black;
    color: white;
    font-family: Verdana;
}

.flash-message {
    position: absolute;
    top: 70px;
    width: 80%;
    right: 10%;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    opacity: 1;
    transition: opacity 0.2s ease-out;
}

.flash-message.fade-out {
    opacity: 0;
}

.flash-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.flash-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.flash-warning {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
}


.flash-info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
}

.flash-close-btn {
    user-select: none;
    position: absolute;
    top: 3px;
    right: 5px;
    color: inherit;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    line-height: 1;
    cursor: pointer;
}