{% extends "base.html" %}

{% block head %}
<script src="https://unpkg.com/@chrisoakman/chessboard2@0.5.0/dist/chessboard2.min.js"
        integrity="sha384-/KwQCjA1GWovZNV3QDVtvSMDzO4reGgarF/RqHipr7hIUElH3r5zNl9WEPPOBRIF"
        crossorigin="anonymous"></script>

<script src="/static/js/chess.js" defer></script>
<script src="/static/js/ws.js" defer></script>

<link rel="stylesheet"
      href="https://unpkg.com/@chrisoakman/chessboard2@0.5.0/dist/chessboard2.min.css"
      integrity="sha384-47VeTDpmy4yT21gKPXQcLQYQZwlmz27gEH5NTrOmTk3G/SGvMyltclOW/Q8uE+sL"
      crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/chess.css">


{% endblock %}

{% block title %}
    Szachy | Gra planszowa
{% endblock %}

{% block content %}

<h1>Szachownica </h1>

<script>let color = "{{ color }}" </script>

<div id="board"></div>

<!-- <input id="msg" placeholder="Wpisz wiadomość"> -->
<!-- <button id="btnSend">Wyślij</button> -->

<pre id="log"></pre>


{% endblock %}
