{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block title %}
    index
{% endblock %}

{% block content %}

<p>username: {{ user.username }}</p>
<p>email: {{ user.email }}</p>
<p>role: {{ user.role }}</p>
<p>status: {{ user.status }}</p>

<p>elo: {{ user_statistics.elo }}</p>
<p>max elo: {{ user_statistics.max_elo }}</p>
<p>games played: {{ user_statistics.games_played }}</p>
<p>games won: {{ user_statistics.games_won }}</p>
<p>games lost: {{ user_statistics.games_lost }}</p>
<p>games drawn: {{ user_statistics.games_drawn }}</p>
<p>current win streak: {{ user_statistics.current_win_streak }}</p>
<p>max win streak: {{ user_statistics.max_win_streak }}</p>
{% if user_statistics.last_game_at %}
<p>last game at: {{ user_statistics.last_game_at }}</p>
{% endif %}

<a href="/chess"><button>Play</button></a>


{% endblock %}